<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>REUSE</h1>
      <h2>Consignment Platform</h2>
      <a href="/footwear">Shop Footwear</a>
      <a href="#">Shop Clothing</a>
  </body>
</html>
