/* styling for items accross all pages */
body {
  background-color: #f2f2f2;
  margin: 0;
  color: #4d4d00;
}
a {
  text-decoration: none;
  color: #4d4d00;
}
a:hover {
  text-decoration: underline;
}
header {
  background-color: #39ac39;
  margin: 0;
  padding: 2em;
  text-align: center;
  color: white;
}
nav {
  background-color: white;
  padding: 1em;
}
.nav-link {
  color: #39ac39;
  padding: 0.5em;
  font-size: 1.25em;
}
footer {
  background-color: #39ac39;
  margin: 0;
  padding: 0.5em;
  text-align: center;
  color: #f2f2f2;
}
/* index.ejs */
.name {
  font-size: 3em;
}
.homepage-center {
  display: flex;
  flex-direction: row;
  flex-grow: wrap;
}
.stats {
  border: 1px #39ac39 solid;
  padding: 1em;
  margin: 1em 2em;
  font-size: 1.5em;
}
.call2action{
  display:flex;
  flex-direction: column;
  justify-content: center;
  color: #4d4d00;
}
.actions {
  width: 80%;
  margin: 0 auto;
}
.actions-link {
  display: inline-flex;
  border: 1px #4d4d00 solid;
  border-radius: 5px;
  box-shadow: 1px 5px #4d4d00;
  font-size: 1.5em;
  padding: .5em;
  margin: 1em 2em;
  background-color: #FFFF00;
  color: #4d4d00;
}
/* gallery pages */
.page {
  display: flex;
  justify-content: space-around;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 10%;
}
.sidebar-nav {
  color: #39ac39;
  padding: 0.5em;
  font-size: 1em;
  color: #4d4d00;
}
.item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f2f2f2;
  width: 85%;
}
.item {
  border: 1px #39ac39 solid;
  border-radius: 5px;
  color: #4d4d00;
  text-align: center;
  background-color: white;
  padding: .25em 0;
  margin: 1em;
}
.item > img {
  max-height: 600px;
  max-width: 400px;
}
/* detail pages */
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}
.form-btns {
  text-align: center;
  margin: 2em;
}
.left {
  color: #4d4d00;
  font-size: 1.25em;
  margin-right: 2em;
}
.product-container > img {
  max-height: 450px;
  max-width: 400px;
}
.right {
  color: #4d4d00;
  font-size: 1.25em;
  margin-left: 2em;
}
input {
  color: #4d4d00;
  font-size: 1em;
  border: 1px #4d4d00 solid;
  border-radius: 5px;
  box-shadow: 2px 2px #39ac39;
  padding: .5em;
  margin: 1em;
}
/* edit & new listing page */
.edit-new-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin: 3em;
}
.edit-new-form {
  width: 80%;
  margin: 3em;
}
.submit {
  margin-bottom: 5em;
}
.row {
  margin: 2em;
}

@media (max-width: 600px) {
    /* Homepage */
    .homepage-center {
      display: flex;
      flex-direction: column;
    }
    .homepage-center > img {
        width: 100%;
        height: auto;
    }
    .stats {
      border: 1px #39ac39 solid;
      padding: 1em;
      margin: 0.5em 1em;
      font-size: 1.25em;
    }
    nav {
      display: flex;
      flex-flow: row;
      align-items: center;
    }
    /* gallery pages */
    .page {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .sidebar {
        width: 95%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .sidebar-nav {
      padding: 0.5em;
      font-size: .85em;
      color: #4d4d00;
    }
    .item-container {
      display: flex;
      flex-direction: column;
      /* flex-wrap: wrap; */
      justify-content: space-around;
      width: 95%;
    }
    .item {
     width: 100%;
    }
    img {
        width: 90%;
        height: auto;
    }
    /* details page */
    .product-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .left {
        margin: 0.5em;
    }
    .right {
        margin: 0.5em;
    }
}
