<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <h1>Sell your Clothes!</h1>
    </header>
    <nav>
      <a class="nav-link" href="/">HOME</a>
      <a class="nav-link" href="/clothing">GALLERY</a>
    </nav>
    <form class="" action="/clothing" method="POST">
      <label>
        Style
        <input type="text" name="style" value="">
      </label>
      <label>
        Gender
        <input type="text" name="gender" value="">
      </label>
      <label>
        Brand
        <input type="text" name="brand" value="">
      </label>
      <label>
        Model
        <input type="text" name="model" value="">
      </label>
      <label>
        Image URL
        <input type="text" name="imageURL" value="">
      </label>
      <label>
        Size
        <input type="text" name="size" value="">
      </label>
      <label>
        Price
        <input type="text" name="price" value="">
      </label>
      <label>
        Quantity
        <input type="text" name="quantity" value="">
      </label>
    <input class="submit-btn" type="submit" value="Create Listing">
    </form>
  </body>
</html>
